body{
	background-image: url(art2.jpg);
	margin:0px;
    height:640px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
ul{
	float:right;

}

ul li{
	display:inline-block;
}

ul li a{
	text-decoration: none;
	color:white;
	padding:5px 20px;
	border:1px solid white transparent;
	transition:0.5s ease;
}

ul li a:hover{
	background-color: #69dcde;
	color: black;
}


nav{
	background-color: #34595db3;
	height:61px;
	width:100%;
}
