body{
	background-image: url(house1.jpeg);
	padding: 20px;
	margin:5px;
	height: 500px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


ul{
	float:center;
}

ul li{
	display: inline-table;
}

ul li a{
	text-decoration:none;
	color: white;
	padding: 5px 20px;
 	border: 1px solid white transparent; 
 	transition: 0.5s ease;
}

ul li a:hover{
	background-color: #69dcde;
	color: black;
}