body{
	background-image: url(art2.jpg);
	margin:0px;
    height:640px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
ul{
	float:right;

}

ul li{
	display:inline-block;
}

ul li a{
	text-decoration: none;
	color:white;
	padding:5px 20px;
	border:1px solid white transparent;
	transition:0.5s ease;
}

ul li a:hover{
	background-color: #69dcde;
	color: black;
}


nav{
	background-color: #34595db3;
	height:61px;
	width:100%;
}

legend{
	font-size: 40px;
}

fieldset{
	width:50%;
	background-image: linear-gradient(rgb(174 149 143 / 51%),rgb(159 96 96 / 49%));
   height: 460px;
   border-color: #9a9aa500;
   margin-top: 0px;
   padding-left: 50px;
color: #1f1407c9;
font-size: 20px;

}

.contact{
	background-color:#beb54ce0;
	margin:-150x;
   text-align:left;
	padding:40px;
	padding-left: 92px;
	margin-top: -360px;
	float: right;
   margin-bottom:0px;
   width: 30%;

}

