body{
	background-image:linear-gradient(rgba(0,0,0,0.37),rgba(0,0,0,0.75)),  url(home.jpg);
	/*padding:20px;*/
    margin:0px;
    height:610px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}


ul{
	float:right;

}

ul li{
	display:inline-block;
}

ul li a{
	text-decoration: none;
	color:white;
	padding:5px 20px;
	border:1px solid white transparent;
	transition:0.5s ease;
}

ul li a:hover{
	background-color: #69dcde;
	color: black;
}
	
.tittle{
	color: white;
	float:center;
}

.text{
	float:left;
	color: #9ee89e;
	text-align:left;
	padding-top: 160px;
	padding-left: 140px;



}

nav{
	background-color: #67cdd852;
	height:61px;
	width:100%;
}


      @media screen and (max-width:500px){
    body{
        background:red;
    }
